.infoWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  text-align: center;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

/* img child */
.imageWrapper > img {
  flex: 1;
  max-width: 90%;
}

.mainWrapper {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 350px;
}
