.mainWrapper {
  background-color: green;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 350px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.imageWrapper > img {
  flex: 1;
  max-width: 90%;
}
